## For Loops Question:

The basic syntax of a list comprehension is as follows:

new_list = [expression for item in iterable if condition]
In this syntax, expression is the operation to be performed on each item in the iterable, item is the variable that represents each element in the iterable, and condition is an optional filter that can be applied to select only certain elements from the iterable.

Here is an example that creates a new list of squared numbers from an existing list:

#### Question 1: Write a program to print first 10 natural number.

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### Question 2: Write a program to print first 10 even numbers.

In [2]:
for i in range(1, 21):
    if i%2 == 0:
        print(f"{i} is an even number.")

#Alternatively
for i in range(2,22,2):
    print(i)

2 is an even number.
4 is an even number.
6 is an even number.
8 is an even number.
10 is an even number.
12 is an even number.
14 is an even number.
16 is an even number.
18 is an even number.
20 is an even number.
2
4
6
8
10
12
14
16
18
20

#### Question 3: Write a program to print first 10 odd numbers.

In [3]:
for i in range(1, 21):
    if i%2==1:
        print(f"{i} is an odd number.") 

#Alternatively
for i in range(1,21,2):
    print(i)

1 is an odd number.
3 is an odd number.
5 is an odd number.
7 is an odd number.
9 is an odd number.
11 is an odd number.
13 is an odd number.
15 is an odd number.
17 is an odd number.
19 is an odd number.
1
3
5
7
9
11
13
15
17
19

#### Question 4: Write a program to print first 10 even numbers in reverse order.

In [4]:
for i in range(20,0,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

#### Question 5: Write a program to print table of a number accepted from user.

In [5]:
num = int(input("Enter any natural number: "))
for i in range(1, 11):
    result= num * i
    print(f"{num}*{i} = {result}")

Enter any natural number:  10

10*1 = 10
10*2 = 20
10*3 = 30
10*4 = 40
10*5 = 50
10*6 = 60
10*7 = 70
10*8 = 80
10*9 = 90
10*10 = 100

#### Question 6: Write a program to display product of the digits of a number accepted from the user.

#### Quesion 7: Print the following pattern:

1
1 2 
1 2 3 
1 2 3 4

In [6]:
for i in range(1, 5):
    for j in range(1, i+1):
        print(j, end= ' ')
    print("")

1
1 2
1 2 3
1 2 3 4

#### Question 8: Print a rectangle Pattern with 5 rows and 3 columns of stars.

In [7]:
for i in range(1,6):
    for j in range(1, 4):
        print('*', end=' ')
    print('')

* * *
* * *
* * *
* * *
* * *

#### Question 9: Print a 90 degree trangle with 6 rows  and columns using stars.

In [8]:
for i in range(1, 7):
    for j in range(1, i+1):
        print('*', end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *

#### Question 10: Calculate the sum of all numbers from 1 to what user provide number?

In [9]:
num = int(input("Enter a number: "))
sum = 0
for i in range(num + 1):
    sum += i 
print(sum)

Enter a number:  18

171

#### Question 11: Write a program to print multiplication table if a number provided by user?

In [10]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    result = num * i
    print(f"{num} x {i} = {result}")

Enter a number:  18

18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

#### Question 12: Display numbers from a list using loop?

In [11]:
for i in list(range(1, 101)):
    if i%3 == 0 and i%5 == 0:
        print(i)

15
30
45
60
75
90

#### Question 13: Display numbers from the following list using loop?

In [12]:
#Conditions
#The number must be divisible by five
#If the number is greater than 150, then skip to the next number.
#If the number is greater than 500, stop or break the loop.

numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i > 500:
        break
    elif i >150:
        continue
    elif i%5==0:
        print(i)

75
150
145

#### Question 14: Print the following pattern:

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [13]:

k = 5
for i in range(0, 6,1):
    for j in range(k-i, 0, -1):
        print(j, end = ' ')
    print(' ')

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

#### Question 15: Print list in reverse order using a loop:

In [14]:
list = [10, 20, 30, 40, 50]
new_list = reversed(list)
for i in new_list:
    print(i)

50
40
30
20
10

#### Question 16: Display numbers from -10 to -1 using For Loop:

In [15]:
for i in range(-10, 0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

#### Question 17: Write a program to display all prime number within a range:

In [16]:
for i in range(25, 50+1):
    if i>1:
        for n in range(2, i):
            if(i%n)==0:
                break
        else:
            print(i)

29
31
37
41
43
47

In [17]:
for i in range(25, 50+1):
    for n in range(2, i):
        if i%n == 0:
            break
    else:
        print(i)

29
31
37
41
43
47

#### Question 18: Display Fibonacci series up to 10 terms.

In [18]:
#Fibonacci Sequence is a series of a numbers the next number is found by adding up two numbers before it. The first two numbers are 0 and 1.
num1, num2 = 0, 1
for i in range(10):
    print(num1, end=' ')
    num1, num2 = num2, num1 + num2
print(i)

0 1 1 2 3 5 8 13 21 34 9

## While Loops

In [ ]:
# Ques 1: Print string "Hello world!" using while loop.
# Ques 2:  Print string "Hello world!" using while loop and use break after printing 2 lines.
# Ques 3: Print multiple table from the number provided by user.
# Ques 4: Reverse a number provided by user using while loop
# Ques 5: Print the square of a number using while loop.
# Ques 6: Finding the average of 5 numbers using while loop.
# Ques 7: Write a Program to calculate the sum of the first N Natural Number:

#### Ques 1: Print string "Hello world!" using while loop.

In [20]:
n = 1
while n< 5:
    print("Hello World")
    n += 1

Hello World
Hello World
Hello World
Hello World

#### Ques 2:  Print string "Hello world!" using while loop and use break after printing 2 lines.

In [2]:
n = 1
while n < 5:
    print("Hello world")
    n += 1
    if n==3:
        break

Hello world
Hello world

#### Ques 3: Print multiple table from the number provided by user.

In [4]:
num = int(input("Enter a number: "))
n = 1
while n <=10:
    mul = num * n
    print(f"{num} x {n} = {mul}")
    n +=1

Enter a number:  11

11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

#### Ques 4: Reverse a number provided by user using while loop.

In [4]:
n = int(input("Enter a two or three digit number: "))
rev = 0
while n != 0:
    r = n%10  #3
    rev = rev * 10 + r #3
    n = n//10  #12
print('Revesed number:', rev)

Enter a two or three digit number:  123

Revesed number: 321

#### Ques 5: Print the square of a number using while loop.

In [2]:
num = int(input("Enter a number: "))
while num <= 5:
    squ = num ** 2
    print(squ)
    num += 1

Enter a number:  3

9
16
25

#### Ques 6: Finding the average of 5 numbers using while loop.

In [7]:
p = 5
sum = 0
len = 0
while p > 0:
    len += 1
    num = int(input("Enter a number: "))
    sum += num
    p -= 1 
    

average = sum/len
print(average)

Enter a number:  22
Enter a number:  23
Enter a number:  22
Enter a number:  24
Enter a number:  22

22.6

#### Ques 7: Write a Program to calculate the sum of the first N Natural Number:

In [1]:
num = int(input("Enter a number: "))
sum = 0 
i = 0
while i <= num:
    sum += num
    i += 1
print(sum)

Enter a number:  11

132

## List Comprehensions: 
Basic Syntax of list comprehension:
[expression for item in list if condition == True]

#### Quest 1: Square the given list, numbers = [1, 2, 3, 4, 5]:

In [2]:
numbers = [1, 2, 3, 4, 5]
squared = [num**2 for num in numbers]
squared

[1, 4, 9, 16, 25]

#### Quest 2: Find the length of each word in words = ['data', 'science', 'machine', 'learning']:

In [3]:
words = ['data', 'science', 'machine', 'learning']
word_len = [len(word) for word in words]
print(word_len)

[4, 7, 7, 8]

#### Quest 3: Print odd ages only from ages = [23, 22, 25, 27]:

In [5]:
ages = [23, 22, 25, 27]
odd_ages = [age for age in ages if age%2==1]
print(odd_ages)

[23, 25, 27]

#### Quest 4: Print any one nested list comprehension:

In [9]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
nested = [(letter, number) for letter in letters for number in numbers]
print(nested)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

#### Quest 5: Write a Python program that uses list comprehension to create a list containing the double of all positive numbers from the following list: [-2, -1, 0, 1, 2, 3, 4]. Print the final list.

In [14]:
list = [-2, -1, 0, 1, 2, 3, 4]
positive_double_list = [li * 2 for li in list if li > 0]
print(positive_double_list)

[2, 4, 6, 8]

#### Quest 6: Find vowel in the string "Python"

In [16]:
word = "Python"
vowel = "aeiou"
result = [char for char in word if char in vowel]
print(result)

['o']

#### Quest 7: Write a multiplication table of 2, 3, and 4. #nested loop comprehension:

In [19]:
multiplication = [[i * j for j in range(1, 11)] for i in range(2,5)]
print(multiplication)
multiplication = [(i*j) for i in range(2,5) for j in range(1,11)]
print(multiplication)

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40]]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

#### Quest 8: Find even numbers from given list:

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7]
even_odd_numbers = ["Even" if num%2==0 else "Odd" for num in numbers] #Expression for items in list
print(even_odd_numbers)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

#### Q9: Find even numbers that are divisible by 5:

In [7]:
num_list = [y for y in range(101) if y%2==0 if y%5==0]
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

#### Q10: Count the number of spaces in a string sentence:

In [10]:
String1 = "Hellp Prabin today we are going to Kathmandy valley."
spaces = [s for s in String1 if s == ' ']
print(len(spaces))

8

#### Q11:Create a list of all the consonants in the string “Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams”

In [13]:
String2 = "Yellow Yaks like yelling and yawning and yesterday they yodled while eating yuky yams"
vowel = "aeiou"
consonants = [s for s in String2 if s != vowel]
print(consonants)

['Y', 'e', 'l', 'l', 'o', 'w', ' ', 'Y', 'a', 'k', 's', ' ', 'l', 'i', 'k', 'e', ' ', 'y', 'e', 'l', 'l', 'i', 'n', 'g', ' ', 'a', 'n', 'd', ' ', 'y', 'a', 'w', 'n', 'i', 'n', 'g', ' ', 'a', 'n', 'd', ' ', 'y', 'e', 's', 't', 'e', 'r', 'd', 'a', 'y', ' ', 't', 'h', 'e', 'y', ' ', 'y', 'o', 'd', 'l', 'e', 'd', ' ', 'w', 'h', 'i', 'l', 'e', ' ', 'e', 'a', 't', 'i', 'n', 'g', ' ', 'y', 'u', 'k', 'y', ' ', 'y', 'a', 'm', 's']

#### Q12: Get the index and the value as a tuple for items in the list “hi”, 4, 8.99, ‘apple’, (‘t,b’,’n’). Result would look like (index, value), (index, value)

In [14]:
items = ["hi", 4, 8.99, "apple", ("t,b", "n")]
result = [(index, item) for index, item in enumerate(items)]
print(result)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

#### Q13: Find the common numbers in two lists (without using a tuple or set) list_a = 1, 2, 3, 4, list_b = 2, 3, 4, 5

In [22]:
list_a = [1, 2, 3, 4]
list_b = [2,3, 4, 5]
common_number = [c for c in list_a if c in list_b]
print(common_number)

[2, 3, 4]

#### Q14: Given numbers = range(20), produce a list containing the word ‘even’ if a number in the numbers is even, and the word ‘odd’ if the number is odd. Result would look like ‘odd’,’odd’, ‘even’

In [23]:
even_odd_numbers = ["Even" if num%2==0 else "Odd" for num in range(20)]
print(even_odd_numbers)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

#### Q15: Produce a list of tuples consisting of only the matching numbers in these lists list_a = 1, 2, 3,4,5,6,7,8,9, list_b = 2, 7, 1, 12. Result would look like (4,4), (12,12)

In [31]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_b = [2, 7, 1, 12]
common_in_tuple = [(a,b) for a in list_a for b in list_b if a == b ]
print(common_in_tuple)

[(1, 1), (2, 2), (7, 7)]

#### Q16: Find all of the words in a string that are less than 4 letters

In [36]:
sentence = "On a summer day somner smith went swimming in the sun and his red skin sting"
examine = sentence.split()
print(examine)
word_len= [word for word in examine if len(word)<=4]
print(word_len)

['On', 'a', 'summer', 'day', 'somner', 'smith', 'went', 'swimming', 'in', 'the', 'sun', 'and', 'his', 'red', 'skin', 'sting']
['On', 'a', 'day', 'went', 'in', 'the', 'sun', 'and', 'his', 'red', 'skin']

#### Q17: Use a nested list comprehension to find all of the numbers from 1-100 that are divisible by any single digit besides 1 (2-9)

In [39]:
result = [num for num in range(1,100) if True in [True for x in range(2,10) if num % x ==0]]
print(result)
numbers = list(range(1,101))
divisors = list(range(2,10))
ans = [n for n in numbers if any([n%d==0 for d in divisors])]
print(ans)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100]

## Dictionary Comprehension:

In Python, dictionary comprehension is a concise way to create a new dictionary by transforming an existing iterable (such as a list or tuple) into key-value pairs. It provides a compact syntax for mapping a given iterable to a new dictionary by applying a specific expression to each element in the iterable.

The basic syntax of a dictionary comprehension is as follows:

new_dict = {key_expression: value_expression for item in iterable if condition}

#### Q1: Create dictionary of square number from above nunmbers:

In [40]:
numbers = [1, 2, 3, 4, 5]
square_dict = {num : num**2 for num in numbers}      
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#### Q2: Create a dict of odd numbers only:

In [41]:
numbers = [1, 2, 3, 4, 5, 6, 7]
odd_dict = {num: num for num in numbers if n%2==1}
print(odd_dict)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7}

#### Q3: Create a dict for a letter count:

In [44]:
word = "Letter"
word_count = {letter: word.count(letter) for letter in word}
print(word_count)

{'L': 1, 'e': 2, 't': 2, 'r': 1}

#### Q4: Find Length of each word in words = ['data', 'science', 'machine', 'learning', 'Deep', 'Python', 'dict'] and store as {word:length .... }.
Also, add a condition to show words that have length 5 or greater.

In [48]:
words = ["data", "science", "machine", "learning", "Deep", "Python", "dict"]
word_with_len = {word: len(word) for word in words}
print(word_with_len)

wordlen_cond = {word: len(word) for word in words if len(word)>=5}
print(wordlen_cond)

{'data': 4, 'science': 7, 'machine': 7, 'learning': 8, 'Deep': 4, 'Python': 6, 'dict': 4}
{'science': 7, 'machine': 7, 'learning': 8, 'Python': 6}

#### Q5: Merge two Python dict into one:

In [51]:
dict1 = {'Ten': 10, 'Twenty':20}
dict2 = {'Thirty':30, 'Twenty':20}
dict1.update(dict2)  #Merging two dict
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

#### Q6: Merge two list into a dict:

In [56]:
keys = ['Ten', 'Twenty']
values = [10, 20]
print(dict(zip(keys, values)))

{'Ten': 10, 'Twenty': 20}

#### Q7: Create a dictionary by extracting the keys from a given dictionary:

In [60]:
sample_dict = {
    "name" : "Kelly",
    "age" : 23,
    "salary" : 8000, 
    "city": "NY"}
new_dict = {k: sample_dict[k] for k in sample_dict}
print(new_dict)

{'name': 'Kelly', 'age': 23, 'salary': 8000, 'city': 'NY'}

#### Q8: We have two list convert it into a dict by using dict comprehension:

In [61]:
keys = ['a', 'b', 'c', 'd', 'e']
values = [1, 2, 3, 4, 5]
mydict = {k:v for (k,v) in zip(keys, values)}
print(mydict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

#### Q9: Find the numbers to their cubes that are not divisible by 4:

In [63]:
mydict = {x:x**3 for x in range(10) if x**3 %4 == 0}
print(mydict)

{0: 0, 2: 8, 4: 64, 6: 216, 8: 512}

#### Q10: Nested dictionary

In [64]:
l ="GFG"
dict = {
    x: {y:x+y for y in l} for x in l
}
print(dict)

{'G': {'G': 'GG', 'F': 'GF'}, 'F': {'G': 'FG', 'F': 'FF'}}