# Set in Python

- A `Set` in Python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements.
- A `set` is an unordered collection of unique elements in Python. Sets are mutable, meaning their contents can be changed after they are created. `Sets` are created using curly braces `{}` or the `set()` constructor.

## Creating a Set

In [3]:
var1 = {"Hello", "Friend"}
print(var1)

{'Hello', 'Friend'}

In [4]:
my_set = {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

## Set Operations

Sets in Python support a variety of operations, including union, intersection, difference, and symmetric difference. Here are some examples:

In [5]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 6, 7}

In [8]:
set3 = set1.difference(set2) # In set1 not in set2 or Only in set1
print(set3)

{1, 3, 5}

In [9]:
set4 = set1.union(set2) # Union of two sets
print(set4)

{1, 2, 3, 4, 5, 6, 7}

In [11]:
set5 = set1.intersection(set2) # Elements in both
print(set5)

{2, 4}

In [13]:
set6 = set1.symmetric_difference(set2) # Not intersected
print(set6)

{1, 3, 5, 6, 7}

## Modifying Set

In [14]:
dir(set())

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [35]:
my_set = {1, 3, 5, 7, 9}
my_set.add(2)
print(my_set)

{1, 2, 3, 5, 7, 9}

In [36]:
my_set.remove(2)
print(my_set)

{1, 3, 5, 7, 9}

In [37]:
my_set.discard(10) # Removes the specified element from a set. If the element does not exist, it will not raise an error
print(my_set)

{1, 3, 5, 7, 9}

In [38]:
x = my_set.pop()  #Removes and returns an arbitrary element from a set
print(x)

1

In [40]:
my_set.clear()
print(my_set)

set()