In [3]:
import numpy as np

### Numpy Data-types
We use string operation very less through numpy.

In [7]:
# Changong int datatype to float datatype

a = np.array([1, 2, 3], dtype=float)
print(a)
print(a.dtype)

[1. 2. 3.]
float64

In [9]:
c = np.array(["Ram", "Shyam"]) # We cannot change this in integer

### Type Conversion

In [10]:
print(c)

['Ram' 'Shyam']

In [11]:
c.astype(np.float32)

ValueError: could not convert string to float: 'Ram'