In [8]:
import pandas as pd
import numpy as np
data ={
    'Apples': [30, 20],
    'Bananas': [21, 22]
}

fruits = pd.DataFrame(data)
print(fruits)

   Apples  Bananas
0      30       21
1      20       22

In [9]:
data = {'country': ['Italy', 'Portugal', 'US', 'US'],
       'province': ['Silicy & Sardinia', 'Douro', 'California', 'New York'],
       'region_1': ['Etna', np.nan, 'Napa Valley', 'Finger Lakes'],
       'region_2': [np.nan, np.nan, 'Napa', 'Finger Lakes']}
df = pd.DataFrame(data, index=[0, 1, 10, 100])
df

      country           province      region_1      region_2
0       Italy  Silicy & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes