## *args and **kwargs

#### Q1: 
`[*args]` Write a Python function that takes an arbitrary number of positional arguments and returns the sum of all the numbers. Test your function with various input cases.

In [9]:
def summation(*args):
    return sum(args)

In [12]:
print(summation(2, 3, 4, 5, 7))
print(summation(22, 22, 32, 45))

21
121

#### Q2:
`[*args]` Write a Python function `concat_strings` that takes any number of strings as arguments and returns a single concatenated string.

In [24]:
def concat_strings(*args):
    return (" ".join(args))
concat_strings("Hello","World.", "My", "name", "is", "Bob.")

'Hello World. My name is Bob.'

#### Q3:
`[**kwargs]` Write a Python function `calculate_total_cost` that calculates the total cost of items purchased from a store. The function should accept multiple keyword arguments, where the key is the item name, and the value is the item's price. The function should return the total cost of all items.

In [53]:
def calculate_total_cost(**kwargs):
    return sum(price for price in kwargs.values())

calculate_total_cost(Shoe= 1000, Pant= 1900, Shirt= 800)

3700

#### Q4:
`[**kwargs]` Create a function `create_student_report` that takes the student's name as the first argument, the student's age as the second argument, and an arbitrary number of keyword arguments for the subjects and their respective scores. The function should return a dictionary with the student's information and a list of subjects along with their scores.

In [70]:
def create_student_report(student_name, student_age, **kwargs):
    report = {
        "name": student_name,
        "age": student_age,
        "subjects": kwargs
    }
    return report

In [71]:
student1 = create_student_report("Prabin", 22, Math=80, Science=90, History=88)
print(student1)

{'name': 'Prabin', 'age': 22, 'subjects': {'Math': 80, 'Science': 90, 'History': 88}}

<br><br>

### Map, Filter, and Reduce

#### Q1:
`[map]` Write a Python function `square_numbers` that takes a list of integers as input and uses the map function to return a new list containing the square of each element.

In [8]:
def square_numbers(lst):
    new_list = list(map(lambda x: x**2, lst))
    return new_list

result = square_numbers([2, 4, 6])
print(result)

[4, 16, 36]

#### Q2:
`[map]` Create a function `convert_to_uppercase` that takes a list of strings as input and uses the `map function` to return a new list with all the strings converted to uppercase.

In [12]:
def convert_to_uppercase(lst):
    new_list = list(map(lambda x: x.upper(), lst))
    return new_list
convert_to_uppercase(["hello", "hi", "burn"])

['HELLO', 'HI', 'BURN']

#### Q3: 
Add two List using `map` and `lambda`

In [14]:
list1 = [1, 2, 3]
list2 = [2, 3, 4]
result = list(map(lambda x, y: x + y, list1, list2))
print(result)

[3, 5, 7]

#### Q4: 
`[filter]` Implement a function called `filter_prime_numbers` that takes a list of integers as input and uses the filter function to return a new list containing only the prime numbers.

In [28]:
def is_prime(n):
    if n<= 1:
        return False
    elif n==2:
        return True
    elif n%2==0:
        return False
    max_divisor = int(n ** 0.5) + 1
    for d in range(2, max_divisor):
        if n%d == 0:
            return False
    return True

def filter_prime_numbers(lst):
    result = list(filter(is_prime, lst))
    return result
filter_prime_numbers([1, 2, 4, 5, 6, 8, 9, 10, 11])

[2, 5, 11]

#### Q5:
`[filter]` Write a Python function `filter_long_strings` that takes a list of strings as input and uses the filter function to return a new list containing strings with more than 5 characters.

In [43]:
def filter_long_strings(lst):
    new_lst = list(filter(lambda x: len(x)>5, lst))
    return new_lst

result = filter_long_strings(["Foolish", "Stylish", "ok", "no"])
print(result)

['Foolish', 'Stylish']

#### Q6: 
`[filter]` Write a Python function `filter_odd_even` that takes a list of numbers as input and uses the filter function to return a new list containing numbers with even numbers only.

In [44]:
def filter_odd_even(lst):
    new_lst = list(filter(lambda x: x%2==0, lst))
    return new_lst

result = filter_odd_even([1, 2, 3, 4, 5, 6, 7, 8])
print(result)

[2, 4, 6, 8]

#### Q7:
`[filter]` Write a Python function `filter_multiple_3` that takes a list of numbers as input and uses the filter function to return a new list containing numbers with even numbers only.

In [45]:
def filter_multiple_3(lst):
    new_lst = list(filter(lambda x: x%3==0, lst))
    return new_lst

filter_multiple_3([1,2,3, 4,5,6,7,8,9,10,11,12,13,14,15])

[3, 6, 9, 12, 15]

#### Q8:
`[reduce]` Write a Python function `calculate_factorial` that takes an integer as input and uses the reduce function to return the factorial of that number.

In [60]:
import functools
def calculate_factorial(n):
    return functools.reduce(lambda x, y: x*y, range(1, n+1), 1)

calculate_factorial(0)

1

#### Q9:
`[reduce]` Implement a function called `concatenate_strings` that takes a list of strings as input and uses the reduce function to return a single string containing the concatenation of all the elements.

In [66]:
import functools
def concatenate_strings(lst):
    return functools.reduce(lambda x, y: x + y, lst)

concatenate_strings(["Hello", "World!", "My", "Name"])

'HelloWorld!MyName'

<br><br>

## Ternary Operators
Ternary operators, also known as conditional expressions, are operators that evaluate a condition as true or false and then return a value based on that condition. In Python, the syntax for a ternary operator is:

```python
value_if_true if condition else value_if_false

#### Q1:
Write a Python function called `check_odd_even` that takes an integer as input and uses a ternary operator to return "Even" if the number is even, and "Odd" if the number is odd

In [74]:
def check_odd_even(lst):
    for i in lst:
        return ["Even" if i%2==0 else "Odd" for i in lst]

check_odd_even([1,2,3])

['Odd', 'Even', 'Odd']

#### Q2:
Create a Python function `check_leap_year` that takes a year as input and uses a ternary operator to determine if it's a leap year. Return "Leap Year" if it is, otherwise "Not a Leap Year." (A leap year is divisible by 4, except for years divisible by 100 but not divisible by 400).

In [80]:
def check_leap_year(years):
    return ["Leap Year" if i%4==0 else "Not a Leap Year" for i in years]

result = check_leap_year([2004, 2000, 2001, 2005, 2008])
for re in result:
    print(re)

Leap Year
Leap Year
Not a Leap Year
Not a Leap Year
Leap Year

#### Q3:
Write a function `find_bigger_number` that takes three integers as input and uses a ternary operator to return the larger number. If all numbers are equal, return "Equal."

In [91]:
def find_bigger_number(lst):
    max_num = max(lst)
    return "Equal" if all(num == max_num for num in lst) else max_num

result = find_bigger_number([1800, 1900, 200])
print(result)

1900

<br><br>

## Comprehension 
`(list comprehension, dict comprehension, set comprehension)`

#### Q1:
`[list comprehension]` Given a list of strings, create a new list that contains only the strings with more than 5 characters using list comprehension.

In [99]:
string_list = ["Apple", "Banana", "Coke", "Sprite", "Nice"]
new_list = [s for s in string_list if len(s)>5]
print(new_list)

['Banana', 'Sprite']

#### Q2:
`[list comprehension]` Given two lists of integers, create a list that contains the product of each element of the first list with the corresponding element in the second list using list comprehension.

In [103]:
list1 = [1, 2, 3]
list2= [2, 3, 4]
new_list = [x * y for x,y  in zip(list1, list2)]
print(new_list)

[2, 6, 12]

#### Q3:
`[list comprehension]` Given three lists list1, list2, and list3, each containing integers, write a Python program using list comprehension to generate a new list of unique triplets (x, y, z) where x is from list1, y is from list2, and z is from list3, such that x + y + z = 0.

In [117]:
list1 = [1, 2, 3, 1, 2, 4]
list2 = [4, 5, 6, 4, 5]
list3 = [7, 8, 9, 9, 8]
new_list = set([x+ y+ z for x in set(list1) for y in set(list2) for z in set(list3)])
print(new_list)

{12, 13, 14, 15, 16, 17, 18, 19}