In [1]:
import pandas as pd
import sqlite3

C:\Users\hp\AppData\Local\Temp\ipykernel_14284\2059591896.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Importing From Database

In [2]:
conn = sqlite3.connect('sql-murder-mystery.db')

In [3]:
from_db = pd.read_sql('SELECT * FROM Person', conn)

In [4]:
from_db.head()

,id,name,license_id,address_number,address_street_name,ssn
0,10000,Christoper Peteuil,993845,624,Bankhall Ave,747714076
1,10007,Kourtney Calderwood,861794,2791,Gustavus Blvd,477972044
2,10010,Muoi Cary,385336,741,Northwestern Dr,828638512
3,10016,Era Moselle,431897,1987,Wood Glade St,614621061
4,10025,Trena Hornby,550890,276,Daws Hill Way,223877684

In [5]:
# see SQLalchemy

### Import From API

In [6]:
import requests

In [7]:
api_data = requests.get("https://fakerapi.it/api/v1/persons?_quantity=10")

In [12]:
response_data = api_data.json()

In [13]:
response_data = api_data.json()['data']

In [15]:
df = pd.DataFrame(response_data)
df.head()

,id,firstname,lastname,email,phone,birthday,gender,address,website,image
0,1,Mason,Oberbrunner,syble.heaney@gmail.com,+5087675682871,1969-01-21,male,"{'id': 0, 'street': '55940 Leuschke Oval', 'st...",http://baumbach.com,http://placeimg.com/640/480/people
1,2,Mazie,Legros,usenger@yahoo.com,+7585319583848,1945-11-13,female,"{'id': 0, 'street': '5885 Floy Trail Apt. 701'...",http://hintz.info,http://placeimg.com/640/480/people
2,3,Forest,Corkery,wmraz@nader.biz,+3730712991399,2012-05-07,male,"{'id': 0, 'street': '72167 Murphy Mills', 'str...",http://pfeffer.com,http://placeimg.com/640/480/people
3,4,Maryam,Dickinson,bailee97@yahoo.com,+3704692570995,1978-10-25,female,"{'id': 0, 'street': '1597 Drake Motorway Suite...",http://bode.org,http://placeimg.com/640/480/people
4,5,Blair,West,michale.kautzer@gmail.com,+8295055229416,1954-08-12,male,"{'id': 0, 'street': '5628 Lulu Key', 'streetNa...",http://feil.org,http://placeimg.com/640/480/people